.container{
    display:inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    transition: 1.0s;
    box-shadow:  5px 5px #343944;
    color:white;
    background-color:grey;
}

.container:hover{
    color: black;
    filter:brightness(0.5)
}

