.container{
    display:inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    transition: 1.5s;
    box-shadow:  5px 5px #343944
}

.container:hover{
    box-shadow:  1px 1px #343944;
    border: 1px solid white;
}

